body{
    background-color:lightcyan;
}

p{
    background-color:#08619b;
}
p.one{
    
    border: 12px solid green;
    padding: 200px;
    margin: 1px;
    width: 100px;
}
#two{
background-color: blueviolet;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

td p{
    background-color: aliceblue;
}