body{
    background-color:
    #0f7aae;
}
p{
    background-color:lightgray;
}
h1{
    background-color:lightgreen;
}

*{
    background-color: lightpink;
}

p.demmy{
   padding:200px;
   margin: 1px;
   width: 100px;
   border: 12px solid green; 
   /* border: 12px solid green;
   padding: 200px;
   margin: 1px;
   width: 100px; */
}

